---
import { Image } from "astro:assets";
import { getEntry, render } from "astro:content";
import type { ImageMetadata } from "astro";
import Navigation from "../../components/Navigation.astro";
import Layout from "../../layouts/Layout.astro";

// 1. Get the slug from the incoming server request
const { id } = Astro.params;
if (id === undefined) {
  return Astro.redirect("/404");
}
// 2. Query for the entry directly using the request slug
const post = await getEntry("blog", id);
// 3. Redirect if the entry does not exist
if (post === undefined) {
  return Astro.redirect("/404");
}

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}",
);
if (!images[post.data.imageName])
  throw new Error(
    `"${post.data.imageName}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`,
  );
// 4. Render the entry to HTML in the template
const { Content } = await render(post);
// 2. For your template, you can get the entry directly from the prop
---

<Layout title="Blog">
  <Navigation />
  <main class="mt-12 md:mt-20 pb-48">
    <div class="w-full flex justify-center">
      <div class="max-w-prose prose dark:prose-invert">
        <!-- <div class="h-64 w-full relative overflow-hidden">
          <Image
            class="top-[-50%] absolute"
            layout="constrained"
            src={images[post.data.imageName]()}
            alt={post.data.title}
          />
        </div> -->
        <Content />
      </div>
    </div>
  </main>
</Layout>
