@import "tailwindcss";

@font-face {
	font-family: "DejaVu Sans Mono";
	src: url("/fonts/DejaVuSansMono.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "DejaVu Sans Mono";
	src: url("/fonts/DejaVuSansMono-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "DejaVu Sans Mono";
	src: url("/fonts/DejaVuSansMono-Oblique.woff") format("woff");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "DejaVu Sans Mono";
	src: url("/fonts/DejaVuSansMono-BoldOblique.woff") format("woff");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}
