---
import Navigation from "../components/Navigation.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog">
  <Navigation />
  <main class="mt-12 md:mt-20 pb-48">
    <div class="w-full flex justify-center">
      <div class="max-w-prose">
        <h1 class="text-2xl uppercase font-thin mb-4">Blog</h1>
        <p class="text-justify mb-4">
          There will come a time when blogs posts are here. That time is not
          now, but rest assured, blogging is coming.
        </p>
      </div>
    </div>
  </main>
</Layout>
