---
import Navigation from "../components/Navigation.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Navigation />
  <main class="mt-12 md:mt-20 pb-48">
    <div class="w-full flex justify-center">
      <div class="max-w-prose prose dark:prose-invert">
        <h1 class="text-2xl uppercase font-thin mb-4">Other Things</h1>
        <a href="/questions">Ask a question</a>
        <h2 class="text-xl">Music</h2>
        <a href="https://distrokid.com/hyperfollow/cody28/day-gone-blue"
          >Day gone blue</a
        >
      </div>
    </div>
  </main>
</Layout>
