---
import EmailSymbol from "./EmailSymbol.astro";
import ExternalLinkSymbol from "./ExternalLinkSymbol.astro";
---

<div
  id="top-nav-bar"
  class="bg-neutral-100 dark:bg-neutral-800 shadow-lg shadow-neutral-100 dark:shadow-neutral-800 px-6 py-3 hidden md:flex fixed justify-between items-center w-full top-0 left-0"
>
  <a href="/" class="uppercase mr-6">Cody Spate</a>

  <div class="flex space-x-4">
    <a class="nav-link uppercase" href="/">Home</a>
    <a class="nav-link uppercase" href="/blog">Blog</a>
    <a id="game-link" class="nav-link uppercase" href="/game">Space</a>
    <a id="other-link" href="/other" class="nav-link uppercase"
      >Oth<span id="other-e">e</span>r</a
    >
  </div>
  <div class="grow"></div>
  <div class="flex space-x-4">
    <a class="nav-link uppercase" href="https://github.com/codyspate">Github</a>
    <a class="nav-link uppercase" href="https://www.linkedin.com/in/cody-spate"
      >LinkedIn</a
    >
  </div>

  <div class="ml-6">
    <a
      id="nav-email"
      class="uppercase border rounded-full px-4 py-2 transition-shadow shadow-lg hover:shadow-none"
      href="mailto:me@codyspate.dev"
      ><span id="nav-email-name">me</span><span id="nav-email-at">@</span><span
        id="nav-email-domain">codyspate</span
      >.<span id="nav-email-tld">dev</span></a
    >
  </div>
</div>
<div
  class="bg-neutral-100 dark:bg-neutral-800 flex md:hidden justify-between items-center sticky top-0"
>
  <a href="/" class="uppercase">Cody Spate</a>
  <div class="hamburger-menu">
    <button aria-label="Open menu" id="menu-toggle" class="p-2">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <line class="stroke-tangerine-500" x1="3" y1="12" x2="21" y2="12"
        ></line>
        <line class="stroke-persian-blue-500" x1="3" y1="6" x2="21" y2="6"
        ></line>
        <line class="stroke-grape-500" x1="3" y1="18" x2="21" y2="18"></line>
      </svg>
    </button>
    <div
      id="mobile-menu"
      class="hidden absolute top-10 right-0 bg-neutral-100 dark:bg-neutral-800 shadow-lg py-4 w-full z-20"
    >
      <div class="flex flex-col space-y-5 items-end px-8">
        <a class="nav-link
        uppercase" href="/">Home</a>
        <a class="nav-link uppercase" href="/blog">Blog</a>
        <a
          class="nav-link uppercase flex items-center"
          href="https://github.com/codyspate"
          ><span class="mr-1">Github</span> <ExternalLinkSymbol /></a
        >
        <a
          class="nav-link uppercase flex items-center"
          href="https://www.linkedin.com/in/cody-spate"
          ><span class="mr-1">LinkedIn</span> <ExternalLinkSymbol /></a
        >
        <a
          id="nav-email"
          class="uppercase flex items-center"
          href="mailto:me@codyspate.dev"
          ><span class="mr-1">me@codyspate.dev</span> <EmailSymbol /></a
        >
      </div>
    </div>
  </div>
</div>

<script>
  document
    .getElementById("menu-toggle")
    ?.addEventListener("click", function () {
      document.getElementById("mobile-menu")?.classList.toggle("hidden");
    });
</script>

<style>
  * {
    font-size: 0.9rem;
  }
  .nav-link:hover {
    color: var(--color-tangerine-500);
    @media (prefers-color-scheme: dark) {
      color: var(--color-tangerine-400);
    }
  }

  @keyframes spin-fun-in {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }

  #other-link:hover #other-e {
    display: inline-block;
    color: var(--color-persian-blue-400);
    animation: spin-fun-in 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
  }

  #nav-email:hover {
    #nav-email-at {
      color: var(--color-grape-500);
      @media (prefers-color-scheme: dark) {
        color: var(--color-grape-300);
      }
    }
    #nav-email-name {
      color: var(--color-tangerine-500);
      @media (prefers-color-scheme: dark) {
        color: var(--color-tangerine-400);
      }
    }
    #nav-email-tld {
      color: var(--color-grape-500);
      @media (prefers-color-scheme: dark) {
        color: var(--color-grape-300);
      }
    }
    #nav-email-domain {
      color: var(--color-persian-blue-500);
      @media (prefers-color-scheme: dark) {
        color: var(--color-persian-blue-300);
      }
    }
  }

  #game-link {
    position: relative;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  #game-link::before {
    content: "";
    position: absolute;
    top: 3%;
    left: 3%;
    width: 0;
    height: 0;
    background-image: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.6) 100%
    );
    /* background: black; */
    background-size:
      200% 200%,
      15px 15px;
    background-repeat: no-repeat, repeat;
    border-radius: 43% 60% 62% 100%;
    opacity: 0;
    transform: translate(-30%, -3%) rotate(0deg);
    z-index: -1;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    pointer-events: none;
  }

  #game-link:hover {
    transform: scale(2.1) translateY(20%);
    color: var(--color-persian-blue-500);
    @media (prefers-color-scheme: dark) {
      color: var(--color-persian-blue-400);
    }
    &::before {
      width: 100dvw;
      height: 100dvh;
      opacity: 1;
    }
  }
</style>
